@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap");

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  background-color: #8bbccc;
  font-family: "Bree Serif", serif;
  color: #000000;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

#my-avatar {
  width: 150px;
  border-radius: 50%;
}

#content {
  text-align: center;
  height: 100%;
}

#my-name {
  font-family: "Kaushan Script", cursive;
  color: #5c2e7e;
}

#left-side {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

a {
  color: #5c2e7e;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw; /* vw -> viewport width */
  padding: 16px;
}
footer > section {
  display: flex;
  justify-content: space-around;
}

#content div {
  width: 100vw; /* vw -> viewport width */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}

/* Projects page */

#hero-banner {
  background: linear-gradient(150deg, red, blue, magenta);
}
#hero-banner > div {
  width: 100vw; /* vw -> viewport width */
  display: flex;
  column-gap: 16px;
  padding: 16px;

}

@media (min-width: 426px) and (max-width: 768px) {
  #hero-banner > div {
    width: 50%;
    margin: 0 auto;
  }
}

#hero-banner h1,
#hero-banner h2 {
  color: white;
}
#hero-banner h1 {
  font-size: 2rem; /* 1rem -> 16px */
}
#hero-banner h2 {
  font-size: 1.1rem; /* customize this value to align the text in single row */
}
h3 {
  text-align: center;
  font-size: 32px;
}
